# Arquivos de dados
*.bin
*.gz
*.tar.gz
# cifar-100-python/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Arquivos de configuração do IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de log
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de testes e relatórios
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
test-results/
junit-*.xml

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Distribuição / builds
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytype
.pytype/

# Cython
cython_debug/
